<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>     
    <section name="folders" type="System.Configuration.NameValueSectionHandler"></section>
  </configSections> 
  
  <folders>
    <add key="folder1" value="C:\pics" />
    <!--<add key="folder2" value="http://milosev.com/84-asp-net-mvc-3.html" />-->
  </folders>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>